* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1310px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
section.section2 {
  padding-top: 45px;
  margin-bottom: 20px;
}
.header1 {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  height: fit-content;
  margin-bottom: 50px;
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.header2 {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  height: fit-content;
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 50px;
}
img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}
a.link {
  text-decoration: none;
  color: black;
}
.item-date {
  padding-top: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(146, 140, 140);
}
.item-name {
  padding-top: 8px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(200, 200, 207);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 17px;
}
.item-infor {
  display: flex;
  padding-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(146, 140, 140);
}
.comment {
  padding-left: 70px;
}
.row > * {
  padding-left: 30px;
  padding-right: 30px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  row-gap: 10px;
}
.col-1 {
  flex: 0 1 8.333333%;
}

.col-2 {
  flex: 0 1 16.666667%;
}
.col-3 {
  flex: 0 1 25%;
}
.col-4 {
  flex: 0 1 33.333333%;
}
.col-5 {
  flex: 0 1 41.666667%;
}
.col-6 {
  flex: 0 1 50%;
}
.col-7 {
  flex: 0 1 58.333333%;
}
.col-8 {
  flex: 0 1 66.666667%;
}
.col-9 {
  flex: 0 1 75%;
}
.col-10 {
  flex: 0 1 83.333333%;
}
.col-11 {
  flex: 0 1 91.666667%;
}
.col-12 {
  flex: 0 1 100%;
}
