* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  /* Gioi han kich thuoc trong vung chua */
  max-width: 100%;
  /* Loai bo phan chan dong (khoang trang nho o duoi hinh anh) */
  vertical-align: middle;
  height: auto;
}

/* .container {
  width: 1260px;
  margin-left: auto;
  margin-right: auto;

  padding-left: 20px;
  padding-right: 20px;
} */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  /* Loai bo khoang trong 2 cot ngoai cung */
  margin-left: -5px;
  margin-right: -5px;

  /* Dat khoang trong giua cac hang */
  row-gap: 10px;
}

.row > * {
  /* Dat khoang trong giua cac cot */
  padding-left: 5px;
  padding-right: 5px;
}

.col-1 {
  flex: 0 1 8.333333%;
}

.col-2 {
  flex: 0 1 16.666667%;
}

.col-3 {
  flex: 0 1 25%;
}

.col-4 {
  flex: 0 1 33.333333%;
}

.col-5 {
  flex: 0 1 41.666667%;
}

.col-6 {
  flex: 0 1 50%;
}

.col-7 {
  flex: 0 1 58.333333%;
}

.col-8 {
  flex: 0 1 66.666667%;
}

.col-9 {
  flex: 0 1 75%;
}

.col-10 {
  flex: 0 1 83.333333%;
}

.col-11 {
  flex: 0 1 91.666667%;
}

.col-12 {
  flex: 0 1 100%;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-baseline {
  align-items: baseline;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.intro-heading {
  font-size: 60px;
}

/* Grid System - .row/.col-x */
/* Flex Utilities */

/* Position */
/* Ket hop position vs hover */

body {
  background: #f0f2f5;
}
.container {
  width: 990px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 132px;
  padding-top: 92px;
  line-height: 1.34;
}

.recent {
  width: 60%;
}

.login {
  width: 40%;
}

.logo {
  padding: 8px 0px 16px 0;
}

img {
  height: 70px;
  margin: -20px;
}

h1 {
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: normal;
  line-height: 32px;
}

.text {
  color: #606770;
  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 12px;
}

.link-recent {
  align-items: center;
  background-color: #f5f6f7;
  width: 160px;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #dddfe2;
  height: 206px;
  transition: all 0.2s ease-out;
  text-align: center;
  overflow: hidden;
  margin-top: 24px;
}

.link-recent:hover {
  box-shadow: 0 1px 8px 5px #dddfe2;
}

.link-recent i {
  font-size: 42px;
  color: #1877f2;
}

.container-link {
  width: 160px;
  height: 160px;
  position: relative;
  background-color: #f5f6f7;
}

.logo-link {
  position: absolute;
  top: 40%;
  left: 40%;
}

.more-account {
  background-color: #fff;
  color: #1877f2;
  padding: 12px;
  font-size: 18px;
  line-height: 22px;
}

.link-recent a {
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
}

.link-recent i {
  font-size: 42px;
}

.login {
  text-align: center;
}

form {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  height: 340px;
  margin-top: 40px;
}

.form-field {
  font-size: 17px;
  padding: 6px 0px;
  width: 364px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

input {
  font-size: 17px;
  padding: 14px 16px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #dddfe2;
}

.form-field input:focus {
  background-color: #fafcff;
  outline: none;
}

.form-field button {
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  width: 100%;
  color: #fff;
  margin-top: 5px;
}

.form-field button:hover {
  background-color: #387edb;
}

.link-form a {
  text-decoration: none;
  color: #1877f2;
  font-size: 16px;
  font-weight: 500;
}

.link-form a:hover {
  text-decoration: underline;
}

.hr {
  width: 364px;

  border-bottom: 1px solid #dadde1;

  margin: 20px 16px;
}

.new-account {
  height: 48px;
}
.link-account {
  border: none;
  border-radius: 6px;
  text-decoration: none;
  line-height: 48px;
  padding: 15px 20px;
  background-color: #42b72a;
  height: 48px;
  width: 300px;
  color: #fff;
  font-size: 17px;
  font-size: 18px;
  font-weight: bold;
}

.create-page {
  margin-top: 25px;
  align-items: baseline;
}

.create-page a {
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #1c1e21;
  width: 80px;
}

.create-page p {
  font-size: 16px;
}
